// libraries
@import "../node_modules/breakpoint-sass/stylesheets/breakpoint";

// custom
@import "variables/*";
@import "abstractions/*";
@import "base/*";
@import "components/*";

body {
  display: flex;
  background: palette("white");
  color: palette("black");
  font-size: 2em;
}
